[submodule "image/vard-client"]
	path = image/vard-client
	url = https://github.com/fhackett/vard-client.git
[submodule "image/ivy"]
	path = image/ivy
	url = https://github.com/fhackett/ivy.git
[submodule "image/YCSB"]
	path = image/YCSB
	url = https://github.com/fhackett/YCSB.git
[submodule "image/ironkv-client"]
	path = image/ironkv-client
	url = https://github.com/fhackett/ironkv-client.git
[submodule "image/go-ycsb"]
	path = image/go-ycsb
	url = https://github.com/shayanh/go-ycsb.git
[submodule "image/Ironclad"]
	path = image/Ironclad
	url = https://github.com/microsoft/Ironclad.git
[submodule "image/verdi-raft"]
	path = image/verdi-raft
	url = https://github.com/uwplse/verdi-raft.git
[submodule "image/pgo"]
	path = image/pgo
	url = https://github.com/DistCompiler/pgo.git
[submodule "image/roshi"]
	path = image/roshi
	url = https://github.com/soundcloud/roshi.git
[submodule "image/roshiapp"]
	path = image/roshiapp
	url = https://github.com/DistCompiler/roshiapp.git
[submodule "azbench"]
	path = azbench
	url = https://github.com/fhackett/azurebench.git
